<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="/icon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <title> Revolut Bank</title>
  </head>
  <body>
    <header class="header">
      <nav>
        <input type="checkbox" id="nav-toggle" />
        <div class="logo">
          <a href="/"><img src="/images/logo.png" alt="bankist" /></a>
        </div>
        <ul class="links">
          <li><a href="/customers">View Customers</a></li>
          <li><a href="/transfers">Transfer Records</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </label>
      </nav>

      <div class="header__title">
        <h1>
         Get
          <!-- highlight effect -->
          <span class="highlight">more</span>
          from your<br />
          <span class="highlight">money</span>
        </h1>
        <h4>Exchange money with no hidden fees. Buy crypto, gold <br>and manage your money with spending analytics.<br> Join over 15 million Revolut customers.</h4>
      </div>
    </header>
    <div class="footer-basic">
    <footer>
      
      <div class="social"><a href="https://thesparksfoundationsingapore.org/"><i class="icon ion-social-google"></i></a><a href="https://www.facebook.com/thesparksfoundation.info"><i class="icon ion-social-facebook"></i></a><a href="https://www.instagram.com/thesparksfoundation.info/"><i class="icon ion-social-instagram"></i></a><a href="https://www.linkedin.com/company/the-sparks-foundation/"><i class="icon ion-social-linkedin"></i></a></div>
      <p class="copyright">Revolut Bank by Kamal Rangwani © 2021</p>
  </footer>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
